In [4]:
import pandas as pd
import numpy as np

## Help Functions

In [5]:
def block(block_i,block_j):
    return table.iloc[3*block_i:3*(block_i+1),3*block_j:3*(block_j+1)]

def row(i):
    return table.iloc[i,:]

def column(j):
    return table.iloc[:,j]

In [6]:
def possible_values(i,j):
    #print(table.iloc[i,j])
    block_i = int(i/3)
    block_j = int(j/3)
    #display(block(block_i,block_j))
    block_values = list(set(np.reshape(block(block_i,block_j).values,9)))
    #print(block_values)
    
    
    
    row_values = list(set(row(i).values))
    #print(row_values)
    
    column_values = list(set(column(j).values))
    #print(column_values)
    
    possible_values_list = list(range(1,10))
    possible_values_list = [x for x in possible_values_list if x not in row_values]
    possible_values_list = [x for x in possible_values_list if x not in column_values]
    possible_values_list = [x for x in possible_values_list if x not in block_values]
    
    #print(possible_values_list)
    return possible_values_list

In [7]:
def block_unique_possible_value(block_i,block_j):
    unique_list = []

    for i in range(block_i*3, block_i*3 + 3):
        for j in range(block_j*3, block_j*3 + 3):
            if table.iloc[i,j] == 0:
                if len(unique_list) == 0:
                    unique_list = possible_values(i,j)
                else:
                    unique_list = unique_list + possible_values(i,j)

    unique_list = list(set([i for i in unique_list if unique_list.count(i)<=1]))
    return unique_list

In [8]:
def row_unique_possible_value(i):
    unique_list = []
    for j in range(0,9):
        if table.iloc[i,j] == 0:
            if len(unique_list) == 0:
                unique_list = possible_values(i,j)
            else:
                unique_list = unique_list + possible_values(i,j)

    unique_list = list(set([i for i in unique_list if unique_list.count(i)<=1]))
    return unique_list

In [9]:
def column_unique_possible_value(j):
    unique_list = []
    for i in range(0,9):
        if table.iloc[i,j] == 0:
            if len(unique_list) == 0:
                unique_list = possible_values(i,j)
            else:
                unique_list = unique_list + possible_values(i,j)

    unique_list = list(set([i for i in unique_list if unique_list.count(i)<=1]))
    return unique_list

In [10]:
def solver():
    
    # Method 1
    for i in range(0,9):
        for j in range(0,9):
            if table.iloc[i,j] == 0:
                #print(table.iloc[i,j],'At',(i,j), 'possible values:', possible_values(i,j))
                if len(possible_values(i,j)) == 1:
                    table.iloc[i,j] = possible_values(i,j)[0]
    
    # Method block
    for block_i in range(0,3):
        for block_j in range(0,3):
            values = block_unique_possible_value(block_i,block_j)
            
            for i in range(block_i*3, block_i*3 + 3):
                for j in range(block_j*3, block_j*3 + 3):
                    if len(values) == 0:
                        break
                    p_v = possible_values(i,j)
                    if table.iloc[i,j] == 0:
                        for x in values:
                            if x in p_v:
                                table.iloc[i,j] = x
                                values.remove(x)
                                break
    # Method row
    for i in range(0,9):
        values = row_unique_possible_value(i)
        for j in range(0,9):
            p_v = possible_values(i,j)
            if table.iloc[i,j] == 0:
                for x in values:
                    if x in p_v:
                        table.iloc[i,j] = x
                        values.remove(x)
                        break
                    
    # Method column                
    for j in range(0,9):
        values = column_unique_possible_value(j)
        for i in range(0,9):
            p_v = possible_values(i,j)
            if table.iloc[i,j] == 0:
                for x in values:
                    if x in p_v:
                        table.iloc[i,j] = x
                        values.remove(x)
                        break

In [11]:
def play_Sudoku():
    
    # Solve
    last_zeros = 81
    while 0 in list(set(np.reshape(table.values,81))):
        zeros = len([x for x in list(np.reshape(table.values,81)) if x < 1])
        solver()
        if zeros < last_zeros:
            last_zeros = zeros
        else:
            print('Cannot solve')
            break
    print('Result:')
    display(table)

# Let's Start a Game!

In [16]:
# Initialize a game
table_list = []
i = 0

print('Please input table row by row, use 0 to represent empty element.')

while i < 9:
    line = input(f'Please input row {i+1}:')
    if len(line) != 9:
        print('Wrong input! Please reinput this row.')
    else:
        i += 1 
        table_list.append([int(x) for x in list(line)])
        
input_table = pd.DataFrame(table_list)
table = input_table.copy()

Please input row 1:003000420
Please input row 2:005902300
Please input row 3:020000060
Please input row 4:007400830
Please input row 5:396000045
Please input row 6:000700000
Please input row 7:072501900
Please input row 8:800000200
Please input row 9:040027600

In [17]:
print('Input table:')
display(input_table)

play_Sudoku()

Input table:

   0  1  2  3  4  5  6  7  8
0  0  0  3  0  0  0  4  2  0
1  0  0  5  9  0  2  3  0  0
2  0  2  0  0  0  0  0  6  0
3  0  0  7  4  0  0  8  3  0
4  3  9  6  0  0  0  0  4  5
5  0  0  0  7  0  0  0  0  0
6  0  7  2  5  0  1  9  0  0
7  8  0  0  0  0  0  2  0  0
8  0  4  0  0  2  7  6  0  0

Result:

   0  1  2  3  4  5  6  7  8
0  7  6  3  1  8  5  4  2  9
1  4  1  5  9  6  2  3  7  8
2  9  2  8  3  7  4  5  6  1
3  1  5  7  4  9  6  8  3  2
4  3  9  6  2  1  8  7  4  5
5  2  8  4  7  5  3  1  9  6
6  6  7  2  5  3  1  9  8  4
7  8  3  1  6  4  9  2  5  7
8  5  4  9  8  2  7  6  1  3